<mat-drawer-container class="example-container disabledClass">


    <mat-drawer [opened]="isDrawerOpened || !isMobile" (closed)="isDrawerOpened = false"
        mode="over" opened [style.display]="isMobile ? 'block' : 'visible'"  [disableClose]="disabledClose">
        <p style="text-transform: uppercase; text-align: center; margin-top: 50px;">Lista characters!</p>
        <app-add-button style="display: flex; justify-content: center;"></app-add-button>
        <div style="display: flex; justify-content: center;">
            <div>
                <div style="height: 25px;" *ngFor="let character of characters">
                    <a [routerLink]="['/characters', character._id]">
                        <p>{{character.name}}</p>
                    </a>
                </div>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content [style.marginLeft.px]="isMobile ? 0 : 280">
        <div *ngIf="!isDrawerOpened || isMobile">
            <button class="btn-nv" mat-button (click)="reopenDrawer()"><i class="bi bi-arrow-right-square-fill"></i></button>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>


</mat-drawer-container>