.example-container {
  height: 100%;


  a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  a:hover {
    background-color: #f1f1f1;
    color: #007bff;
  }
}

.mat-drawer {
  width: 200px;
  padding: 20px;
  background-color: #f1f1f1;
  flex-direction: column;
  display: flex;

  p {
    text-transform: uppercase;
    text-align: center;
  }

  .character-list {
    display: flex;
    flex-direction: column;
  }


  .reopen-drawer-button {
    top: 10px;
    left: 10px;
    z-index: 999;
  }
}


.btn-nv{
  @media screen and (min-width: 768px) {
   visibility: hidden;
  }
}
