

<h1 style="text-align: center; margin-top: 150px;">Login</h1>
<form [formGroup]="homeform" (ngSubmit)="onSubmit()">


  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" formControlName="email">
  </mat-form-field>
  <p *ngIf="!homeform.get('email')?.valid && homeform.get('email')?.touched">Inserisci email</p>


  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" formControlName="password">
  </mat-form-field>
  <p *ngIf="!homeform.get('password')?.valid && homeform.get('password')?.touched">Inserisci password </p>
  

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>

<p style="text-align: center; margin-top: 10px;">
  Non sei registrato? <a [routerLink]="['/auth']">Registrati</a>.
</p>
