
<h1 class="text-center mt-5" >Validate your account</h1>
<form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
    <div>
      <label class="mb-4" for="tokenVerify">Token Verify:</label>
      <input type="text" id="tokenVerify" name="tokenVerify" formControlName="tokenVerify">
    </div>
    <button mat-raised-button color="primary" type="submit">Verify User</button>
    <p class="mt-4 danger" *ngIf="validateError">{{ validateError }}</p>
  </form>

  <app-alert  *ngIf="validateSuccess" [message]="'Validation successful. You can now proceed with login.'" (close)="validateSuccess = false"></app-alert>



  
