/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Personalizza il colore di sfondo della modal */
.modal-dialog {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Personalizza il colore del titolo della modal */
  .modal-title {
    color: #333;
  }
  
  /* Personalizza il colore del bordo del corpo della modal */
  .modal-body {
    border-color: #ccc;
  }
  


  .mat-drawer-backdrop.mat-drawer-shown {
    
    @media screen and (min-width: 600px) {
      background-color: transparent !important;
      visibility: hidden !important;
     
    }
  }
